<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inicio</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="../css/formulario.css" />
</head>

<body data-rol="Admin">

    <div id="titulo-club" data-url="../Componentes/titulo-club.html"></div>

    <main class="max-w-5xl mx-auto px-4 py-8 text-center">

        <br>


        <div class="botones-formulario" style="display: flex; justify-content: center; gap: 20px;">
            <button class="boton-formulario" style="width: 150px">Inicio</button>
            <button class="boton-formulario" style="width: 150px">Calendario</button>
            <button class="boton-formulario" style="width: 150px">Galería</button>
        </div>

        <br>

        <h1 class="text-4xl font-semibold text-gray-800 mb-6">Heading</h1>

        <div class="flex justify-center mb-6">
            <img src="../imgs/icono.png" alt="Logo grande" class="max-w-[300px] w-full h-auto">
        </div>


        <p class="text-gray-700 text-left mt-6 max-w-2xl mx-auto">
            Descripción
        </p>

    </main>

    <script defer src="../js/encabezado.js"></script>
    <script defer src="../js/titulo.js"></script>

</body>

</html>