<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Puerta de Orión </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/login.css" />
    <link rel="stylesheet" href="../css/main.css" />
</head>

<body>
    <header class="encabezado">
        <img src="../imgs/logo.png" alt="text">
    </header>
    <main class="contenedor-formulario">
    <form class="formulario">
      <img src="../imgs/icono.png" alt="text" class="icono-formulario">
      <label class="etiqueta-formulario">Inicio de Sesión</label>
      <input type="text" placeholder="Correo">
      <input type="text" placeholder="Contraseña">
      <button type="submit">Iniciar sesión</button>
    </form>
  </main>
</html>