<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jugadores</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="../css/deportistas.css" />
</head>

<body data-rol="Admin">

    <div id="tabla-deportistas" data-url="../Componentes/tabla-deportistas.html"></div>

    <script defer src="../js/encabezado.js"></script>
    <script defer src="../js/tabla-deportistas.js"></script>
</body>

</html>